# Features engineering

#### What have we done so far?

During EDA part, we have explored and understood the dataset we are working on. We have prepared some ideas on variables modification and have examined them. We have found some dependencies and correlations between variables. 

The most significant changes in dataset are:
* splittiing dataset into one for traing and testing and the one for validation task
* converting day and month columns into one named day_of_the_year
Other changes have not been saved yet.

## Categorical features

In [47]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [48]:
bank_data_df = pd.read_csv('datasource/bank_data_df_changed_time.csv')

In [49]:
bank_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3616 entries, 0 to 3615
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       3616 non-null   int64
 1   age              3616 non-null   int64
 2   job              3616 non-null   object
 3   marital          3616 non-null   object
 4   education        3616 non-null   object
 5   default          3616 non-null   object
 6   balance          3616 non-null   int64
 7   housing          3616 non-null   object
 8   loan             3616 non-null   object
 9   contact          3616 non-null   object
 10  duration         3616 non-null   int64
 11  campaign         3616 non-null   int64
 12  pdays            3616 non-null   int64
 13  previous         3616 non-null   int64
 14  poutcome         3616 non-null   object
 15  y                3616 non-null   int64
 16  day_of_the_year  3616 non-null   int64
dtypes: int64(9), object(8)
memory usage: 480.4+ KB

In [50]:
bank_data_df = bank_data_df.iloc[:,1:]

In [51]:
bank_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3616 entries, 0 to 3615
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              3616 non-null   int64
 1   job              3616 non-null   object
 2   marital          3616 non-null   object
 3   education        3616 non-null   object
 4   default          3616 non-null   object
 5   balance          3616 non-null   int64
 6   housing          3616 non-null   object
 7   loan             3616 non-null   object
 8   contact          3616 non-null   object
 9   duration         3616 non-null   int64
 10  campaign         3616 non-null   int64
 11  pdays            3616 non-null   int64
 12  previous         3616 non-null   int64
 13  poutcome         3616 non-null   object
 14  y                3616 non-null   int64
 15  day_of_the_year  3616 non-null   int64
dtypes: int64(8), object(8)
memory usage: 452.1+ KB

In [52]:
target_value = "y"

In [53]:
cols = bank_data_df.columns.to_list()
cols[-1], cols[-2] = cols[-2], cols[-1] 
bank_data_df = bank_data_df[cols]

In [54]:
bank_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3616 entries, 0 to 3615
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              3616 non-null   int64
 1   job              3616 non-null   object
 2   marital          3616 non-null   object
 3   education        3616 non-null   object
 4   default          3616 non-null   object
 5   balance          3616 non-null   int64
 6   housing          3616 non-null   object
 7   loan             3616 non-null   object
 8   contact          3616 non-null   object
 9   duration         3616 non-null   int64
 10  campaign         3616 non-null   int64
 11  pdays            3616 non-null   int64
 12  previous         3616 non-null   int64
 13  poutcome         3616 non-null   object
 14  day_of_the_year  3616 non-null   int64
 15  y                3616 non-null   int64
dtypes: int64(8), object(8)
memory usage: 452.1+ KB

### Education

In [55]:
bank_data_df.education.unique()

array(['secondary', 'tertiary', 'primary', 'unknown'], dtype=object)

Maybe a good transormation for this feature will be following dictionary:

In [56]:
ed_dict = {'unknown' : 0, 'secondary' : 0.5, 'tertiary' : 1, 'primary' : 0.25}

In [57]:
bank_data_df = bank_data_df.replace({"education": ed_dict})

/var/folders/gp/n7ttdtg56pg0s6ydv9zj9wth0000gn/T/ipykernel_42572/3812209549.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  bank_data_df = bank_data_df.replace({"education": ed_dict})

In [58]:
bank_data_df.education.isna().sum()

0

### Martial

In [59]:
bank_data_df.marital.unique()

array(['divorced', 'single', 'married'], dtype=object)

In [60]:
m_dict = {"single" : 0, "divorced" : 0.5, "married"  : 1}
bank_data_df = bank_data_df.replace({"marital": m_dict}) #there is misspelling in name of this variable

/var/folders/gp/n7ttdtg56pg0s6ydv9zj9wth0000gn/T/ipykernel_42572/420417880.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  bank_data_df = bank_data_df.replace({"marital": m_dict}) #there is misspelling in name of this variable

### YesNo

In [61]:
yn_dict = {"no" :0, "yes" :1}

In [62]:
bank_data_df = bank_data_df.replace({"default": yn_dict, "housing" : yn_dict, "loan" : yn_dict})

/var/folders/gp/n7ttdtg56pg0s6ydv9zj9wth0000gn/T/ipykernel_42572/3788033126.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  bank_data_df = bank_data_df.replace({"default": yn_dict, "housing" : yn_dict, "loan" : yn_dict})

In [63]:
bank_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3616 entries, 0 to 3615
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              3616 non-null   int64
 1   job              3616 non-null   object
 2   marital          3616 non-null   float64
 3   education        3616 non-null   float64
 4   default          3616 non-null   int64
 5   balance          3616 non-null   int64
 6   housing          3616 non-null   int64
 7   loan             3616 non-null   int64
 8   contact          3616 non-null   object
 9   duration         3616 non-null   int64
 10  campaign         3616 non-null   int64
 11  pdays            3616 non-null   int64
 12  previous         3616 non-null   int64
 13  poutcome         3616 non-null   object
 14  day_of_the_year  3616 non-null   int64
 15  y                3616 non-null   int64
dtypes: float64(2), int64(11), object(3)
memory usage: 452.1+ KB

### Job